name: Greeting Window

on: [push]

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run a Greeting
        run: echo "This is a greeting CI pipeline activates on every push!"

      - name: Install test dependencies
        run: pip install pytest

      - name: Run Python Tests
        run: pytest
